# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb
*.so
.env
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
db-genai-hack-oct2024/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
generated_images/
*.pdf
models.yaml
*.json
instructions.md
image_instructions.md

# Temp files
*.tmp
.DS_Store 